
<div class="w-96 h-56 m-auto rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110">
  <div class="relative object-cover w-full h-full rounded-xl bg-gradient-to-r from-teal-400 to-blue-400" >
         <div id = "school-details" class ="border border-dotted text-center flex  ">
            <%= link_to image_tag(@school.logo_resize, class:" flex-none w-10 h-10 "), @school.logo %>  
            <div class= "flex-auto">
           <h1 class=""><%= @school.name%></h1> 
           <h1 class="" ><%= @school.address%></h1> 
            </div>
        </div>

            <h1 class= "text-red-500 text-center ">Student Identification Card</h1>

          <div id="student-details" class="flex">
            <% @students.each do |s| %>
              <div class="flex-none ">
                  <%= link_to image_tag(s.photo_resize ,class: " w-20 h-20 "), s.photo %>
               </div> 

              <div id= "student-data" class= "flex-auto  text-sm underline">
                <h1>Name:<%= s.name%></h1>
                <h1>Adm:<%= s.adm_no%></h1>
                <h1>UPI:<%= s.upi%></h1>
                <h1>Index:<%= s.index_no%></h1>
                <h1>Kcpe Yr:<%= s.kcpe_yr%></h1>
                <h1>Dob:<%= s.dob%></h1>
                <h1>Gender:<%= s.gender%></h1>
                <h1>Class:<%= s.stream.name%>  <%= s.substream.name%> </h1>
              </div>
              <%end%>
          </div>
            
 </div>
</div>

